certifi==2025.8.3
meta-signed-signature-cli==0.1.0
prompt_toolkit==3.0.52
questionary==2.1.1
retail-video-key-gen-cli==0.4.0
sentry-sdk==2.35.1
urllib3==2.5.0
utils @ git+https://github.com/GUILN/masters-implementation.git@71838d7647f2d4d5fb3e88805c8c1eb775e3441f#subdirectory=utils
wcwidth==0.2.13
